:root {
	--text-color-main:#262626;
	--text-color-footer:#404040;
	--text-color-footer-hover:#1aa3ff;
}

* {
	margin:  0;
	padding: 0;
}

body{
	min-width: 224px;
	font-family: sans-serif;
	transition-duration: 0.6s;
	-webkit-transition-duration: 0.6s;
}

h1,h2,h3{
	margin: 8px;
}

h1,h2,h3,p{
	color: var(--text-color-main);
}

.container, .header {
	vertical-align: center;
	text-align: center;
}


.container{
	padding-top: 24px;
}

.header {
	padding-top: 36px;
}

.footer{
	position: fixed;
	padding: 12px;
	left: 0;
	bottom: 0;
	width: calc(100% - 24px);
	background-color: #f2f2f2;
	text-align: center;
}

.footer li{
	color: var(--text-color-footer);
	display: inline-block;
	margin:8px;
	font-size: 12px;
}

a:link, a:visited {
	color: var(--text-color-footer);
	text-decoration: none;
}

a:hover, a:active {
	color: var(--text-color-footer-hover);
}

.main-card{

	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	width: 216px;
	padding: 8px;
	text-align: center;
	border-radius: 6px;
	border: 3px solid #e6e6e6;
	background-color: white;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}

.main-card:hover{
	box-shadow: 0 3px 10px 2px #888888;
}

.inner-card{
	margin-top: 24px;
	text-align: center;
	display: inline-block;
}

.app-desc{
	font-size: 14px;
}

.dev-name{
	font-size: 42px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
		            supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 600px) {
	body {
		background-color: #fff;
	}
}


@media only screen and (max-width: 244px) {
	body {
		background-color: #fff;
		padding: 12px;
	}

	.main-card{
		width: 100%;
	}
}