:root {
	--text-color-main:#262626;
	--text-color-footer:#404040;
	--text-color-footer-hover:#1aa3ff;
}

* {
	margin:  0;
	padding: 0;
}

body{
	font-family: sans-serif;
	transition-duration: 0.6s;
	-webkit-transition-duration: 0.6s;
}

h1,h2,h3{
	margin: 12px;
	font-family: sans-serif;
	font-size: 24px;
}

h1,h2,h3,p{
	color: var(--text-color-main);
	line-height: 1.6;
}

.header {
	vertical-align: center;
	text-align: center;
}


.container{
	flex: 1;
	text-align: center;
	background-color: #e6fff2;
	margin: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 50px;
}

.container:hover{
	box-shadow: 0 3px 10px 2px #888888;
}

.col-main{
  display: flex;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 15%;
}


.header {
	padding-top: 36px;
}

#footer{
	padding: 12px;
	left: 0;
	bottom: 0;
	width: calc(100% - 24px);
	background-color: #f2f2f2;
	text-align: center;
}

#footer li{
	color: var(--text-color-footer);
	display: inline-block;
	margin:8px;
	font-size: 12px;
}

a:link, a:visited {
	color: var(--text-color-footer);
	text-decoration: none;
}

a:hover, a:active {
	color: var(--text-color-footer-hover);
}

.main-card{
	vertical-align: middle;
	cursor: pointer;
	padding: 24px;
	text-align: center;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}

.inner-card{
	margin-top: 24px;
	text-align: center;
	display: inline-block;
}

.app-desc{
	font-size: 14px;
}

.dev-name{
	font-size: 42px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
		            supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 560px) {
	body {
		background-color: #fff;
	}

	.col-main{
		display: block;
	}

	.container{
		display: inline-block;
		width: calc(100% - 24px);
		margin: 12px;
	}

}


@media only screen and (max-width: 244px) {
	body {
		background-color: #fff;
		padding: 12px;
	}

}
